@font-face {
    font-family: 3Dventure;
    src: url("../../../assets/3Dventure.ttf");
}

.stackPane{
    -fx-background-color: darkblue;
}

.label{
    -fx-font-family: "3Dventure";
    -fx-text-fill: white;
    -fx-background-color: transparent;
}